{% extends 'base.html.twig' %}

{% block body %}
<div id="chat_window">
</div>
<div style="clear:both;"></div>
<div id="input_container">
    <textarea id="chat_input"></textarea>
    <button id="submit_message">Send</button>
    <a id="logout" href="/authenticate/?logout=true">Logout</a>
</div>    


<script type="text/javascript">
    //TODO: Move this Javascript off page
    
    var polling_interval;
    var last_message_time = '{{ start_time }}';

    $(document).ready(function(){
        polling_interval = setInterval(poll_for_new_messages, 250);
    });

    $('#submit_message').click(function(){
        console.log('submit_message button clicked');
        post_chat_message();
    });

     $('#chat_input').on('keypress', function (event) {
         if(event.which === 13){
            console.log('carriage return on text input detected');
            post_chat_message();
         }
    });

    // POST the current value of #chat_input to the 'postmessage' endpoint
    function post_chat_message()
    {
        var message = $('#chat_input').val();
        $.post('/postmessage/', { message_content: message }, function(response){
            if(response.type=='error')
            {
                alert(response.error_message); //NB: Ugly way to handle errors
            }
            else if(response.type=='success') //Message successfully posted
            {
                $('#chat_input').val(''); //remove message from textbox
            }
          },
          "json"
        );
    }

    function poll_for_new_messages()
    {
        $.getJSON('/pollmessages/', {last_message_time: last_message_time}, function(response){
            if(response.type=='error')
            {
                alert(response.error_message); //NB: Ugly way to handle errors
            }
            else if(response.type=='success')
            {
                for(i=0;i < response.messages.length; i++) //loop through messages and append them to the chat window;
                {
                    var message = response.messages[i];
                    if($('#chat_window').find("[data-message-id='" + message.message_id + "']").length == 0) //only show those messages not already being shown
                    {
                        $('#chat_window').append('<span class="message" data-message-id="'+ message.message_id+ '">'
                        + '<span class="message_timestamp">' + message.timestamp + '</span>'
                        + '<span class="message_email_address">' + message.email_address + '</span>'
                        + '<span class="message_content">' + message.content + '</span><br />');
                    }
                }
                if(typeof message != 'undefined')
                {
                    last_message_time = message.timestamp; //set last_message_time to the time of the last message received;
                }
            }

        });
    }
</script>
{% endblock %}

{% block stylesheets %}
<style>
    body,html { width:100%; height: 100%; background #eee; }
    #chat_window { width: 100%; height: 80%; border: 1px solid #777; background: #eee; }
    #chat_window span { padding-right:10px; }
    #chat_window .message_timestamp { font-size:small; }
    #chat_window .message_email_address { color:red; }
    #input_container { height:20%; width: 100%; }
    #chat_input { float:left; width: 79%; height:100%; margin:0; }
    #submit_message { float:left; width: 20%; height 100%; background:#7e7; border:1px solid #5f5; }
    #logout { float:right; margin-right:15px; font-size:small; }
</style>
{% endblock %}
