{% extends 'base.html.twig' %}

{% block body %}
<div id="chat_window">
</div>
<div style="clear:both;"></div>
<div id="input_container">
    <input type="text" id="chat_input"></input>
    <button id="submit_message">Send</button>
</div>    
{% endblock %}

{% block stylesheets %}
<style>
    #chat_window { width: 100%; height: 80%; border: 1px solid #777; }
    #input_container { height:20%; width: 100%; }
    #chat_input { float:left; width: 80%; height:100%; margin:0; }
    #submit_message { float:left; width: 20%; height 100%; }
</style>
{% endblock %}
